//══════════════════════════════════════
//              ICONOGRAPHY
//══════════════════════════════════════

.img {
  @include m(logo) {
    @extend %image-presets;
    @include row-spacing(em(25px));
  }
  @include m(avatar) {
    @extend %image-presets;
    @include row-spacing(em(15px),em(25px));
  }
  @include m(frame) {
    @extend %image-presets;
    max-width: 95%;
    @include column-spacing($padding-left: em(12px));
    @include row-spacing(em(15px),em(17px),em(12px));
    border: 1px solid palette(gray, xx-light);
    @include mq(tablet) {
      max-width: 100%;
    }
  }
}
